# Node dependencies
node_modules/
.pnp/
.pnp.*
.yarn/

# Package manager lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
# This now specifically targets the .next folder inside the frontend directory
frontend/.next/
out/
build/
dist/
coverage/
storybook-static/
test-results/
playwright-report/
playwright/.cache/
vitest-test-results
.unlighthouse

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
build-archive.log
*storybook.log

# Local env files and secrets
.env
.env.*
.env*.local
.env.sentry-build-plugin

# Vercel
.vercel/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Database
# This now specifically targets the local.db folder inside the frontend directory
frontend/local.db/

# Storybook
storybook-static
*storybook.log
build-archive.log

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

# Python venv
venv/
.env/
__pycache__/
*.py[cod]

# IDE/editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
*.pem

# Specific files you don't want to commit
# For example, the postmaster.pid file inside local.db
frontend/local.db/postmaster.pid